[submodule "models/TimeFilter"]
	path = models/TimeFilter
	url = https://github.com/troubadour000/timefilter.git
[submodule "models/FourierGNN"]
	path = models/FourierGNN
	url = https://github.com/aikunyi/fouriergnn.git
[submodule "models/CONTIME"]
	path = models/CONTIME
	url = https://github.com/sheoyon-jhin/contime.git
[submodule "models/LinOSS"]
	path = models/LinOSS
	url = https://github.com/tk-rusch/linoss.git
[submodule "models/S_D_Mamba"]
	path = models/S_D_Mamba
	url = https://github.com/wzhwzhwzh0921/s-d-mamba.git
[submodule "models/TimePro"]
	path = models/TimePro
	url = https://github.com/xwmaxwma/timepro.git
[submodule "models/DeepEDM"]
	path = models/DeepEDM
	url = https://github.com/abrarmajeedi/deepedm.git
[submodule "models/SimpleTM"]
	path = models/SimpleTM
	url = https://github.com/vsingh-group/simpletm.git
